{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    <h1>Bienvenue sur le Backoffice EasyAdmin</h1>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Articles</h5>
                    <p class="card-text">Gérez tous les articles du blog</p>
                    <p>Utilisez le menu de gauche pour accéder aux articles</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Utilisateurs</h5>
                    <p class="card-text">Gérez tous les utilisateurs</p>
                    <p>Utilisez le menu de gauche pour accéder aux utilisateurs</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="alert alert-info mt-4">
        <strong>Astuce :</strong> Utilisez le menu de navigation à gauche pour accéder aux différentes sections.
    </div>
{% endblock %}